[2019-05-23 13:28] artcommacode opened #1 "Web fonts aren't auto-loaded"
**Describe the bug**
When you add a `font-family` nothing else happens.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `style.css`
2. Add `font-family: Work Sans;`

**Expected behaviour**
When a recognised `font-family` is added a `fonts.css` file should be created to pull that web font into the project from Google Fonts.

**Device:**
 - OS: macOS 10.14.5
 - Browser: Google Chrome 74

[2019-06-03 11:37] kdholland opened #2 "Blank, scrollable space at the bottom of code"
**Describe the bug**
Lots of blank space at the end of code docs - they're not part of the code and it isn't possible to remove them.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a project in the new editor.
2. Scroll down to the bottom of any page, stylesheet, or script.
4. See blank space, not possible to delete it.

**Expected behaviour**
The page to end where the code ends, not

[2019-06-03 13:49] artcommacode commented on #2
@kdholland this is a feature not a bug!

this particular feature is known as "scroll past end" and it particularly useful when you want to look at some code in a file and don't want to be staring at the bottom of the screen while working on it. it's used in quite a few modern editors these days!

[2019-06-03 13:50] kdholland commented on #2
@artcommacode ah - i had no idea! cool! :)

[2019-06-03 13:50] #2 closed

[2019-06-04 16:20] indaviande opened #3 "Fonts smoothing needed on Firefox"
**Description**
On Firefox, fonts seems too bold.
I think these lines are just missing :
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

**Screenshots**
![Capture d’écran 2019-06-04 à 18 18 49](https://user-images.githubusercontent.com/33333630/58896022-7637f900-86f5-11e9-8b94-b8f03285f12c.png)

**Device:**
 - OS: macOS 10.14.5

[2019-06-04 16:24] indaviande opened #4 "MP3 files are not playing on preview"
**Describe the bug**
On this project : [https://subeditor.superhi.com/projects/29327], when you click on plop.mp3, the small player appears but after click on Play, Play icon switch to Pause but the sound is never played.

**Screenshots**
![Capture d’écran 2019-06-04 à 18 24 12](https://user-images.githubusercontent.com/33333630/58896295-fcecd600-86f5-11e9-8a1a-8604b4f36926.png)

**Device:**
 -

[2019-06-04 17:38] kdholland commented on #4
thanks so much for reporting this @indaviande !

I'm able to get mp3 previews working in the new editor in Firefox - could you try this one again? If it's still not working, could you please send the file to me at kendall@superhi.com?

[2019-06-05 09:07] indaviande commented on #4
My pleasure, Kendall.
Yes, mp3s playing is working now!

[2019-06-05 09:13] #4 closed

[2019-06-05 09:29] kdholland commented on #3
Looks like a Firefox-specific issue :) thanks for reporting, @indaviande !

[2019-06-05 09:42] artcommacode commented on #3
`-moz-osx-font-smoothing: grayscale;` was missing, yes. This is actually a carry-over from the current editor but I'm happy to fix it up for the beta!

[2019-06-05 09:42] #3 closed

[2019-06-18 16:39] Nick-Fiasco opened #5 "Editor crashing upon opening saved projects"
**Describe the bug**
On opening up an already existing saved project in the new editor the page crashed and became unresponsive. Can't click on anything (even right click to look for any console logs/errors) Have to force page to stop and exit. White screen of doom..

**To Reproduce**
1. Go to https://subeditor.superhi.com/
2. Log in to account
3. Click on project (https://subeditor.superhi.com/pr

[2019-06-18 16:46] kdholland commented on #5
Thanks for reporting @Nick-Fiasco ! Does this happen for all of your projects or just this one?

[2019-06-18 16:54] Nick-Fiasco commented on #5
Hey @kdholland No problem!

Trying it out on my other projects I found it crashed on two out of the four.

The two where it was loading ok I noticed that it did take a few seconds to load and I wasn't quite sure if it was still loading or not until the content popped in suddenly. (about 5-6 seconds load time from initial editor UI load until it was ready to use and showing up the files/preview)

[2019-06-18 19:09] kdholland commented on #5
Thank you @Nick-Fiasco ! Looking into it now :)

[2019-06-18 20:36] nourmalaeb opened #6 "CSS not applied to side-by-side preview in Safari"
I use Safari as my default browser and all my projects in the beta SuperHi editor are not getting any CSS or JS included. I logged on in Firefox and things seem to work as expected.

**Screenshots**
<img width="1380" alt="Screen Shot 2019-06-18 at 16 35 09" src="https://user-images.githubusercontent.com/2767880/59717951-0b072000-91e7-11e9-83bc-2722400b4b0f.png">

**Device:**
 - OS: macOS 10.14.5

[2019-06-18 22:23] kdholland commented on #5
Indeed you were right @artcommacode ! Looks like the `a_tachyons.css` file is the one where the editor has an issue - when I reproduced this, that file wouldn't upload and crashed my browser.

[2019-06-19 08:02] artcommacode commented on #5
Yep, so it turns out the Editor doesn't enjoy loading in and parsing over 2000 CSS selectors!

[2019-06-19 08:06] #5 closed

[2019-06-19 08:13] artcommacode commented on #5
Thanks for catching that @Nick-Fiasco! I've just added in some basic large-file handling to the Editor that should fix this up for you. If you find that you're still having problems with the Editor then just re-open this issue 🙏

[2019-06-19 08:49] elishacohen commented on #6
This is also happening to me in chrome:
<img width="1138" alt="Screen Shot 2019-06-19 at 10 49 17 AM" src="https://user-images.githubusercontent.com/51991222/59750877-cda2a100-927f-11e9-86f6-92c44f19685a.png">

[2019-06-19 08:55] artcommacode commented on #6
Hi @elishacohen could you please open a separate issue with all of your details there, including a link to your live site?

@nourmalaeb's issue is to do with Safari blocking Blob URLs with hashes in them — an undocumented "feature" that I just learnt about today! — but this isn't a problem with Chrome.

[2019-06-19 09:10] elishacohen commented on #6
Sure, I can do that

[2019-06-19 09:21] elishacohen opened #7 "CSS not applied in preview in Chrome"
When I am in the new editor in chrome, the preview shows the site I'm working on without CSS. This doesn't change whether I'm working on the html or the CSS code. I tried multiple different projects and they were all the same.

**Screenshots**
<img width="1440" alt="Screen Shot 2019-06-19 at 11 17 18 AM" src="https://user-images.githubusercontent.com/51991222/59753215-f036b900-9283-11e9-8273-9230b

[2019-06-19 09:23] artcommacode commented on #7
Thanks for opening the issue @elishacohen! Could you please try opening the Editor in a new Incognito window — making sure that none of your Chrome Extensions are running — and let me know if that changes anything?

[2019-06-19 09:25] elishacohen commented on #7
Just tried and turned off extensions. Unfortunately, same result:

<img width="1440" alt="Screen Shot 2019-06-19 at 11 25 20 AM" src="https://user-images.githubusercontent.com/51991222/59753653-e497c200-9284-11e9-921a-98cc2141121b.png">

[2019-06-19 09:33] artcommacode commented on #7
Oh I see what's happening here now! The new Editor uses a slightly different rule for linking stylesheets than the current editor does: rather than looking for the presence of a `<head>` or `<body>` tag it instead looks for `<link rel="stylesheet">` tags and decides whether or not to add it's own then. So, because you have `<link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swa

[2019-06-19 09:39] elishacohen commented on #7
Ah ya - I just checked and all the projects that I had opened had a google font link at the beginning of the html file. This project (week-2-project-9.superhi.com) which just starts with the content (no google fonts) previews fine:

<img width="1440" alt="Screen Shot 2019-06-19 at 11 37 35 AM" src="https://user-images.githubusercontent.com/51991222/59754626-bca95e00-9286-11e9-9072-03dc8eac3d0d.png

[2019-06-19 09:41] artcommacode commented on #7
Good to hear, thanks again! 👍

[2019-06-19 09:41] #7 closed

[2019-06-20 13:46] kdholland commented on #6
This one looks good to me! @nourmalaeb thanks for reporting this one 😄  Could you please confirm all looks good for you?

[2019-06-20 13:51] nourmalaeb commented on #6
The good news is that the CSS is being applied now! The bad news is that my images aren't showing up... though they do on the live site https://nm-jenna-buchholz-photography.superhi.com

<img width="1638" alt="Screen Shot 2019-06-20 at 09 50 38" src="https://user-images.githubusercontent.com/2767880/59854407-de671b80-9340-11e9-885d-d4f6cb0e71dc.png">

Looks like there's still a "blob" in the image

[2019-06-20 14:03] artcommacode commented on #6
Hi @nourmalaeb, thanks for checking again! Do these images in particular work in Firefox for you?

I believe this may be a separate — browser independent — issue effecting `srcset`s where images have been prefetched in a worker.

[2019-06-20 14:07] nourmalaeb commented on #6
You're right—they don't work on firefox either. I'll close this issue out then!

[2019-06-20 14:07] #6 closed

[2019-06-20 14:07] artcommacode commented on #6
Great! I'll open a separate issue for the `srcset` problem then.

[2019-06-20 14:11] artcommacode opened #8 "Images with `srcset`s are blank in the side-by-side preview"
**Describe the bug**
Images with `srcset`s are blank in the side-by-side preview. This is because the image name becomes different to that in the `srcset` when replaced by a Blob URL.

**To Reproduce**
Steps to reproduce the behaviour:
1. Upload an image to the site.
2. Create an HTML page with `<img src="image.jpg" srcset="image.jpg">`
4. See image is blank in preview

**Expected behaviour**
Imag

[2019-06-20 14:14] artcommacode commented on #8
See https://github.com/superhi/editor-issues/issues/7 for initial discovery by @nourmalaeb

[2019-06-27 13:48] #8 closed

[2019-07-01 15:14] #1 closed

[2019-07-03 19:33] kdholland opened #9 "Full preview not updating"
Hey @artcommacode ! Have noticed this one a few times and finally getting around to reporting it - let me know if you've got any questions.

**Describe the bug**
The full preview isn't staying up to date with code changes.

**To Reproduce**
Steps to reproduce the behaviour:
1. Work on some code changes in the code/split screen view
2. Click on Preview icon in the sidebar
3. Code changes aren't ref

[2019-07-03 20:15] kdholland commented on #9
just a note that refreshing the *browser* seems to do the trick, but clicking the refresh icon in the bottom bar does not.

[2019-07-03 20:20] jacobbf opened #10 "Flag Dotted Class Name in HTML/JS/JQuery"
A common issue we've been seeing from students is the addition of CSS class dots where they aren't meant to be - primarily in JS but occasionally in HTML. They show up a lot in classList methods as well as jQuery class manipulation and HTML class attributes and as far as I can figure there's no situation where this would be intentional.

JS Ex. `el.classList.add('.classthatwontadd')
jQuery Ex. `$(

[2019-07-03 21:10] artcommacode commented on #10
Yeah we already have class validation added in for `$()`, `jQuery()`, `document.querySelector()` and `document.querySelectorAll()`, we could extend that to not only make sure somebody isn't trying to add a class like `..classthatwontadd` but also that the class they're trying to add is valid and exists in their CSS or not

[2019-07-03 21:12] artcommacode commented on #9
Ahh yes the full-page Preview hasn't been yet been touched in the new Editor so is currently relying on some old code that has since been trimmed!

[2019-07-05 14:32] #10 closed

[2019-07-05 14:34] artcommacode commented on #10
<img width="490" alt="Screenshot 2019-07-05 at 15 27 27" src="https://user-images.githubusercontent.com/1155516/60729337-57b65f00-9f3a-11e9-92a4-3644d10155dc.png">

[2019-07-10 12:02] artcommacode commented on #9
Fixed in https://github.com/superhi/editor/commit/6ed1ad56c8cb4e6bfc28934b8d61942facd92af8, we now have manual reloading in the full-screen preview again.

[2019-07-10 12:02] #9 closed

[2019-07-10 16:12] kdholland commented on #9
Yep, manual reloading looks good - thanks @artcommacode !

[2019-07-10 18:49] kdholland opened #11 "Split-view preview ignoring some styles"
**Describe the bug**
Split-view preview ignoring some styles

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a project (mine = https://subeditor.superhi.com/projects/38766 / https://k-found-4.superhi.com/ )
2. Compare split view to full preview

**Screenshots**
Split view preview is missing font styles, space around the logo, `selected` class styling (and possibly more.)

**Device:**

[2019-07-11 08:23] artcommacode commented on #11
Hi @kdholland, I'm afraid I'm unable to reproduce this myself so I'm wondering if your stylesheets might've gotten out-of-order? We no longer order them for users and instead let them drag and drop them within the folder.

<img width="1552" alt="Screenshot 2019-07-11 at 09 20 35" src="https://user-images.githubusercontent.com/1155516/61034572-6f1f9d00-a3bd-11e9-97e9-4e0c25a69795.png">

[2019-07-11 16:30] kdholland commented on #11
right! reordering these fixed my issue. closing this one out. as discussed on slack we may want to think about locking `base.css` file to the top if possible - i think this one will come up again with students.

(also sorry, i had included screenshots but most have posted before they uploaded!)

[2019-07-11 16:30] #11 closed

[2019-07-24 20:44] kdholland opened #12 "Resize button still shows when preview is hidden"
**Describe the bug**
Resize button still shows when preview is hidden.

**To Reproduce**
Steps to reproduce the behaviour:
1. Click the eye icon to hide the preview.
2. Resize button is still there.

**Expected behaviour**
Resize button should disappear when the preview is hidden as there's nothing to resize.

**Screenshots**
![resize_button](https://user-images.githubusercontent.com/31701255/6182

[2019-07-25 13:16] kdholland opened #13 "Image assets not loading in Settings dropdowns"
**Describe the bug**
When you go to your project settings, you can't set the default sharing image, favicon, or home screen icon because the project's images do not appear in the dropdown.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a project with images.
2. Go to project settings.
3. Click on any of the dropdowns that should have images.

**Expected behaviour**
Project images app

[2019-07-25 14:28] artcommacode commented on #13
@kdholland the image selection boxes are now — temporarily — gone!

[2019-07-25 14:28] #13 closed

[2019-07-25 14:29] artcommacode commented on #12
@kdholland this has now been fixed. The resize handle will hide itself when the preview is hidden.

[2019-07-25 14:29] #12 closed

[2019-07-25 14:35] kdholland commented on #13
🙌 looks good! thank you!

[2019-07-30 18:53] jacobbf opened #14 "The Protocol-relative URLs in CSS imports break in side-by-side viewer but not in main viewer"
Using @import to bring in a font in CSS doesn't work in side by side view if it has a protocol relative url but it works fine in the main viewer. Having an https URL works on both (Google fonts gives you an https link now so at least it won't be an issue there).

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/23109850/62156797-b375cd00-b2d9-11e9-87ad-084d73de2023.gif)

[2019-07-30 19:15] kdholland commented on #14
thanks @jacobbf ! Could you please include the steps to reproduce this?

[2019-07-31 10:50] artcommacode commented on #14
lol well I guess that makes sense, no way Google is sending us fonts over the `blob://` protocol. thanks for the catch @jacobbf!

[2019-07-31 11:56] #14 closed

[2019-07-31 15:02] kdholland opened #15 "Preview gets stuck to cursor when resizing preview"
**Describe the bug**
Sometimes when i click and drag it back and forth, the preview keeps resizing when i move my mouse (when i’m not dragging it anymore)

**To Reproduce**
Steps to reproduce the behaviour:
1. Click and drag the handle to resize the preview back and forth a few times
2. Stop clicking and dragging
3. Move cursor back and forth
4. The preview keeps resizing and you have to click on

[2019-07-31 15:07] jacobbf opened #16 "Code panel gets hidden by preview when making the widow smaller"
**Describe the bug**
When making a window narrower the preview panel covers the code panel and the buttons at the top. To make the panel smaller I then need to make the window bigger again, make the panel smaller (or hide it) and then resize the window again to my desired size.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open editor
2. Open preview
3. Make browser window less than 50% i

[2019-07-31 15:18] kdholland opened #17 "In split preview, the header hides when you click a link with href="#""
**Describe the bug**
Header hides when you click a link with `href="#"`

**To Reproduce**
Steps to reproduce the behaviour:
1. Add a link with `href="#"`
2. Click on it in the split preview
3. Header + URL bars hide (see GIF)

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
![hrefhide](https://user-images.githubusercontent.com/31701255/622245

[2019-08-01 08:44] artcommacode commented on #17
Hmm this is some weird Ember thing. I can't reproduce in the editor-component itself but I _can_ in the Editor actual. I'll have to look into it a little more!

[2019-08-01 17:36] kdholland opened #18 "Saving project versions not working in new editor"
**Describe the bug**
Saving project versions not working in new editor

**To Reproduce**
Steps to reproduce the behaviour:
1. Click into a project and go to Project Settings > Versions
2. Enter a title and save the project
3. Project reads as 'Saving...' but never completes

**Expected behaviour**
Project saves and is available to view + revert as in old editor.

**Screenshots**
If applicable, add

[2019-08-02 12:15] #15 closed

[2019-08-02 12:15] #16 closed

[2019-08-02 12:36] artcommacode commented on #18
@kdholland there were various packages missing from upgrading ember and copying stuff over from the dotcom site. let me know if this works for you now!

[2019-08-02 12:36] #18 closed

[2019-08-06 20:41] ackristen opened #19 "Split Screen Preview [JS Script]"
**Describe the bug**
When previewing code in split screen mode, JS script is not fully loading (or showing up?)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to split screen preview and click for images to appear.
2. Upon click you will see an outline of image that is supposed to appear on screen.

**Expected behaviour**
JS script in this instance involves clicking for images to appear

[2019-08-06 21:49] kdholland commented on #19
@artcommacode This is a new one - any thoughts on what's causing this?

Files here: http://robbie-alvarez-draft.superhi.com/_src

[2019-08-07 13:42] artcommacode commented on #19
oh for the record i know _exactly_ what's happening here and it was a deliberate choice to leave it like this but i got to thinking about it last night and maybe there's a better way of handling issues like this? what this space!

[2019-08-08 10:59] artcommacode commented on #19
okay @ackristen let me know if this fixes things up for you!

[2019-08-26 19:29] jacobbf opened #20 "Preview Stuck"
**Describe the bug**
The preview sticking bug is back! And it's backwards this time! Resize handle will skip around, jumping a good distance in front of the code. If you immediately drag it back it will shrink, but if you let go it will get stuck, covering the code. It's mysterious but sometimes I can get it unstuck by grabbing the handle and sometimes I can't. See screenshot.

**To Reproduce**
St

[2019-08-27 13:44] kdholland commented on #20
Assigning this to you @artcommacode , but keeping @jacobbf and myself assigned in case we are able to provide any more details on this bug!

So far I haven't been able to reproduce it in the projects I've checked on, but will update if that changes.

[2019-09-02 13:21] #19 closed

[2019-09-03 21:52] kdholland commented on #17
Just remembered this one after running into it again Foundations Week 8  (the prev/next links) - any luck with this one @artcommacode ?

(cc @jacobbf in case there's any support stuffs about this!)

[2019-09-04 07:47] #20 closed

[2019-09-04 07:49] artcommacode commented on #17
This is one of those issues with the current codebase that'll disappear when we move over to the new one. Closing for now, we can revisit it when we the new full-react editor is launched.

BTW those links should have `e.preventDefault()` on the listeners which'd prevent this from happening anyway!

[2019-09-04 07:49] #17 closed

[2019-09-11 20:08] jacobbf opened #21 "Duplicate File Names"
**Describe the bug**
After drag-and-drop uploading some images (specifically all the assets from the Uova Ajax + APIs project), the names of all files appeared in duplicate. Upon reloading they disappeared.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open web editor
2. Make new project
3. Drag-and-drop upload a collection of images
4. See duplicate file names

**Expected behaviour**
Non

[2019-09-11 20:12] kdholland commented on #21
Hey @artcommacode - I've noticed this one a couple of times too. It seems to always happen when you're uploading multiple images (and so far it's only happened via drap and drop). The duplicates clear on reload.

Before:
![image](https://user-images.githubusercontent.com/31701255/64731231-beae4200-d4ae-11e9-82fe-281db759ef66.png)

After reload:
![image](https://user-images.githubusercontent.com/31

[2019-09-12 09:09] artcommacode commented on #21
Hmm I can't reproduce that here even with multiple images and drag-and-drop. Either way though I can try and put some extra de-duplication logic in the editor!

[2019-09-12 10:24] artcommacode commented on #21
An hour of testing this and I can't reproduce it at all. I'm wondering if it's possible it's an API bug that only happens under load or something, what do you think @riklomas?

[2019-09-12 10:51] artcommacode commented on #21
Okay, I've pushed some code that should at least prevent duplicate files from being accepted from the API, hopefully that fixes it?! Let me know!

[2019-09-12 14:39] jacobbf commented on #21
Sounds good! Gonna take some time this afternoon to do some more thorough testing on Windows as well, so I'll let you know how it goes/if this pops up again.

[2019-09-23 14:27] artcommacode commented on #21
Closing this out for now, feel free to re-open if it rears it's head again!

[2019-09-23 14:27] #21 closed

[2019-09-24 20:24] jacobbf opened #22 "The Protocol-relative URLs Issue (Returns)"
**Describe the bug**
So I knew this seemed familiar. the protocol relative URL issue we were having with CSS imports working in the full preview but not working in the side-by-side is back, just a bit more of a problem this time.

Protocol protocol agnostic URLs (like the one's Contentful returns for assets) won't load in the side by side preview. This is (in particular) an issue for anyone doing

[2019-09-24 22:07] jacobbf opened #23 "Font-face not generated for Cooper Hewitt"
**Describe the bug**
Editor does not add font-face definitions to "_fonts.css" for "Cooper Hewitt" font.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to editor
2. Add `font-face: Cooper Hewitt` to CSS file
3. Check "_fonts.css"
4. See that no `@font-face` has been added

**Expected behaviour**
`@font-face` rules defining the face with the relevant CDN links to be generated and include

[2019-09-24 22:11] kdholland commented on #23
@artcommacode I think you had flagged something like this previously - any idea what the issue is?

I've noticed that the new editor can be more specific about fonts than the old one, but I also only thought we auto-loaded Google Fonts (which Cooper Hewitt is not.)

[2019-09-25 08:00] artcommacode commented on #23
Yep, what @kdholland said, we only autogenerate font files for those on Google Fonts. Previously the Editor also self-hosted a number of fonts but there were some issues with this implementation.

[2019-09-25 08:03] artcommacode commented on #22
Hmm yeah we fixed this for HTML elements but not within JS files. I'll have a think!

[2019-09-25 08:48] artcommacode commented on #22
@jacobbf do you have a link to your project? I've just realised that the live project URL is only an example and doesn't use Contentful

[2019-09-25 13:41] kdholland commented on #23
@jacobbf Sounds like this is a `wontfix` for the new editor - if this is a support issue please let them know the deal

[2019-09-25 13:45] jacobbf commented on #23
That's totally cool with me (on principal) but the Sally Hart project uses Cooper Hewitt which is autogenerated in the video - worried that since it's the first project in foundations dropping support for it will be a bit of an issue. Seems like the options are either to autogenerate Cooper Hewitt for now, rerecord that video or add some kind of supplement, just concerned since it's the very first

[2019-09-25 13:47] kdholland commented on #23
That's a really good point - thoughts on this @artcommacode ? Can we self host Cooper Hewitt or should we look into re-recording that video instead?

[2019-09-25 13:48] artcommacode commented on #23
Hmm is this the only case where this happens? Are there any other projects were we use self-hosted fonts?

[2019-09-25 13:50] kdholland commented on #23
Good question - @jacobbf can you do a roundup for the Foundations projects and see if there are more instances of this or if it's a one-off?

[2019-09-25 13:52] jacobbf commented on #23
Sure, I can take a look and see if there are other cases. In all the more recent courses we walk through uploading your own fonts and writing the CSS rules, so shouldn't be too bad.

[2019-09-25 13:53] artcommacode commented on #23
We also walk you through it in Week 6 of Foundation IIRC.

[2019-09-25 21:49] jacobbf commented on #23
Ok, as far as I can tell it's only in the first version of Sally Hart right at the beginning of the course - even when you redo the project with a lightbox it's using Helvetica instead.

[2019-09-26 11:52] artcommacode commented on #22
@jacobbf paging you again for a link where this happens!

[2019-09-27 18:19] jacobbf commented on #22
Totally missed this (thanks for the reminder @ackristen)! [Here's](http://uova-43.superhi.com/) the link to my project. They show up fine on the site proper, just awol in the side-by-side

[2019-09-30 09:31] artcommacode commented on #22
Hmm, unfortunately there's no way of fixing this, we'd need some method of rewriting URLs on-the-fly which we just don't have: we'd need a sandbox to run code the code in, inspect it, and then modify the original code, etc.

I'm surprised Contentful is insisting on using protocol-relative URLs — they're entirely unnecessary now that HTTPS is as fast as HTTP — I can see there were two issues to rem

[2019-09-30 10:50] artcommacode commented on #22
Added a note to the video where students set this section up — https://www.superhi.com/student/ajax-apis/uova/gxj7er5pxv — with a one-line fix for them.

[2019-09-30 10:50] #22 closed

[2020-01-06 08:30] artcommacode opened #24 "Checkmark doesn't work when renaming files"
**Describe the bug**
When renaming a file if you press return or enter it works fine but the checkmark cancels the operation instead of applying it.

**To Reproduce**
![Screen Recording 2019-12-21 at 02 10 PM](https://user-images.githubusercontent.com/1155516/71805661-af0ac880-305e-11ea-8ea0-c91383fa127e.gif)

**Device (please complete the following information):**
All devices

[2020-01-06 11:52] #24 closed

[2020-05-12 08:19] marivi-nadal opened #25 "Projects with long names are not displaying"
Projects with long names are not displaying properly in Editor 2.0
attaching an example
<img width="569" alt="Screenshot 2020-05-11 at 11 54 27" src="https://user-images.githubusercontent.com/65218453/81659524-146e2c00-943a-11ea-9b8d-e9ea20d5007b.png">

[2021-01-06 05:27] candideu opened #26 "Feature Request: Search Option"
Hello! Would it be possible to add a search function inside to look for certain keywords or text in a document? This will really help with longer files.

**Device:**
 - OS: Windows 10

[2021-01-06 10:16] artcommacode commented on #26
This is something we'll be adding in to the next release of the beta Editor, yes!

[2021-01-06 10:16] #26 closed

[2021-01-26 14:09] #23 closed

[2021-01-26 14:10] #25 closed

[2021-02-03 12:18] alexvissaridis opened #27 "Settings tab is blank on some projects"
**Describe the bug**
On some projects, the settings tab on the editor generates a blank white page rather than any of the normal settings. This happens on [the project file](https://future-editor.superhi.com/projects/74069) for [my portfolio website](https://www.alexvissaridis.work/), for example, but not on my Superhi lesson sites. My portfolio website is much, much larger than any other project

[2021-02-03 12:19] artcommacode commented on #27
thanks for the detailed issue @alexvissaridis!

[2021-02-03 15:54] #27 closed

[2021-02-05 09:00] guybroadhurst opened #28 "Preview Does Not Update When Making Edits to the CSS File."
**Describe the bug**
I've just updated some of my CSS on my project but when going to the preview (I've turned off the inline preview) this these changes aren't reflected on the preview. Even when you press the refresh button.

**To Reproduce**
Steps to reproduce the behaviour:
1. Make a change in the CSS file `style.css`
2. Click preview in the left menu.
3. Click refresh on the preview.
4. Edito

[2021-02-05 09:21] artcommacode commented on #28
(User had been signed out in the background while leaving the tab open)

[2021-02-05 09:21] #28 closed

[2021-02-17 08:06] guybroadhurst opened #29 "Parsing error: Identifier 'headerTag' has already been declared"
**Describe the bug**
I'm getting a parsing error when I really shouldn't within my JS. The editor is giving this error "Parsing error: Identifier 'headerTag' has already been declared" when I am just defining 'headerTag' on the first line of code. I can get around this by redefining the const as 'headTag' for example. Also doesn't seem to like my const underneath, 'toggleHeader' but will work with

[2021-02-17 08:09] artcommacode commented on #29
Hey @guybroadhurst did you rename the file or have a separate file with this JavaScript already in it? (I see you have a few empty JS files here) Do you still get these errors if you refresh the Editor?

[2021-02-17 08:20] guybroadhurst commented on #29
Hi @artcommacode ah didn't even think to refresh the window. That does seem to have fixed it when I've changed them back to be headerTag etc. Hadn't renamed the file, and just set the other JS files up but haven't got to putting anything in them yet, but when I attached the other JS files to the HTML I did copy the previous tags and just renamed the JS in the src by selecting it on the drop-down w

[2021-02-19 14:17] guybroadhurst commented on #29
Hi @artcommacode, I think I've got a similar thing happening on another project I've just created.

It's showing errors in a file I was working on in another project beforehand. I've just created this new project and it's all just as the default. Not created or linked any assets or files yet.

This does go away when I refresh the browser.

![Screenshot 2021-02-19 at 14 11 25](https://user-images.g

[2021-02-22 08:29] artcommacode commented on #29
Thanks @guybroadhurst I see what's happening here now, it looks like there's a bug in Monaco where if you dispose of a file it doesn't remove all of the markers related to it.

[2021-02-22 10:06] #29 closed

[2021-02-24 14:48] aixalj opened #30 "when adding a font from google fonts into CSS it says CCS selector doesn't exist with unhappy face (tried it in the other editor and it worked fine there)"
**Describe the bug**
when adding a font from google fonts into CSS it says CSS selector doesn't exist with an unhappy face, I tried it in the older editor version (to see if any of the code might have been wrong) and it worked fine there. (I have also added another google font underneath to see if that worked and it hasn't)

**To Reproduce**
Steps to reproduce the behaviour:

1. Start by getting a

[2021-02-24 14:55] artcommacode commented on #30
Oh, I probably should've added this one myself! Yes thanks @aixalj this is an issue we're actively tracking internally, it turns out that the CSS parser we use doesn't like semi colons in `@import` urls, everything will still work correctly it's just that the editor tells you there's an error when there actually isn't

[2021-02-24 14:57] aixalj commented on #30
oh ok thanks! will keep this in mind :)

[2021-02-25 17:40] hollylouisarose opened #31 "Body selector text black in media query but styles are applying"
**Describe the bug**
In media queries, the body selector text is showing as black not red like other selectors. Styles within selectors are applying fine. Other selector titles appear red as usual.

**To Reproduce**
Steps to reproduce the behaviour:
1. Write media query
2. Write style for body
4. Body selector text is black

**Expected behaviour**
Body selector to be red like other css selectors

[2021-02-26 12:18] artcommacode commented on #31
Ah, this is interesting! Unfortunately the issue here is in Microsoft's side of things and I don't have any control over how their parser works directly. I'll be sure to pass it on though 🙏

[2021-02-26 12:18] #31 closed

[2021-02-26 14:44] #30 closed

[2021-04-08 15:41] shannon-andrew opened #32 "Logout button"
This is an error on my end, but I would guess I’m not the only one who has made this mistake - I have several SuperHi editor accounts using different emails and passwords (don’t judge me 😳). Sometimes I might login using the wrong account, but would always be able to access my main account by logging out and reentering my details.

The new editor doesn’t seem to have a logout button, I logged in u

[2021-04-08 20:34] tangaroo opened #33 "Problem with publishing new changes on the site"
**Describe the bug**
Tried publishing some changes on the new editor but it was not showing up on the live site and had to revert to using the old editor and those changes were published.

**To Reproduce**
Steps to reproduce the behaviour:
1. Made code changes in sub editor.
2. Hit publish changes and checked on versions - new published site was saved as a new version.
3. Checked live site and pub

[2021-04-09 09:52] artcommacode commented on #33
Thanks for the bug report @tangaroo, this should now be fixed!

[2021-04-09 09:52] #33 closed

[2021-04-09 11:06] AdamHasma opened #34 "Publishes don't get updated"
**Describe the bug**
[My site](https://mnmal.superhi.com) doesn't get updated when I updated the code. On the editor preview however it gets updated. Used the new editor. Did this yesterday.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to one of your existing project and change something
2. Click on publish

**Expected behaviour**
Changes to be updated within seconds or minutes at lea

[2021-04-09 11:28] artcommacode commented on #34
Hi @AdamHasma this issue was fixed this morning, could you please make sure you're on the latest version of the Editor by doing a hard refresh — shift + command + R in Chrome on Mac — and trying again? Thank you!

[2021-04-09 11:28] #34 closed

[2021-04-17 13:00] marcsist opened #35 "Subeditor Domains page missing instructional video"
**Describe the bug**
The Domains page references an instructional video below, but there is no video.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'a project in the new editor'
2. Click on 'domains icon in the app shell'
3. Scroll down to 'the bottom space in the page'
4. See nothing

**Expected behaviour**
The original editor had a Wistia video embedded in the page. When the instr

[2021-04-19 13:52] artcommacode commented on #35
Hi @marcsist, thanks for the bug report. We've removed the domain instructional video because it wasn't quite up-to-date with how things can be done now. You can still find it at http://student.superhi.com/editor for the time being but we're currently working on re-recording this video and adding some extra documentation around it to make it much easier for people to add domains to their sites.

[2021-04-21 10:41] pixelspencil opened #36 "Isues uploading index.html and style.css to new editor vs beta.superhi.com editor"
**Describe the bug**
I was using the new editor but had to switch back for some of the tutorials in the foundation course due to an issue with certain file uploads if they already exist in the editor, in this instance index.html and style.css

**To Reproduce**
Steps to reproduce the behaviour:
1. Upload assets in to the 'Drag and drop files or click to upload' box
2. When uploaded view both index.

[2021-04-21 10:44] artcommacode commented on #36
@pixelspencil if you refresh the project after uploading the files to the beta Editor (https://subeditor.superhi.com, despite the URL for the other Editor it's actually the v1 Editor!) do you see the changes?

[2021-04-21 10:54] pixelspencil commented on #36
@artcommacode It does indeed update but until I do that the little browse box also gets stuck - will this eventually work like it does in the editor I have been using?

<img width="302" alt="Screenshot 2021-04-21 at 11 48 15" src="https://user-images.githubusercontent.com/1231005/115542688-706f4080-a298-11eb-9b6b-96b3a9c8cf02.png">

Also noted that I will now use or try to remember to use editor.s

[2021-04-23 08:25] #36 closed

[2021-04-23 08:46] artcommacode commented on #36
@pixelspencil this has all been fixed now. thanks for the bug report 👍

[2021-04-26 07:21] tangaroo opened #37 "SSL certificate has expired"
**Describe the bug**
I have noticed that my domain i.e: cassandratang.me is showing an error, screenshot attached. I contacted iwantmyname and they have informed me that the SSL certificate has expired. Another member has mentioned this issue, possibly only happening after she published with the new editor - which could be the same case here as well.

**To Reproduce**
Steps to reproduce the behavi

[2021-04-26 07:30] artcommacode commented on #37
Hi @tangaroo thanks for the issue, we're currently looking into it. Note that non-editor issues like this should be sent to hi@superhi.com and one of the staff there always will be able to help you out!

[2021-04-26 07:30] #37 closed

[2021-04-27 01:45] portomarco opened #38 "Prettify not working on HTML files"
**Describe the bug**
Prettify does not seem to be working on HTML files

**To Reproduce**
Steps to reproduce the behaviour:
1. Add additional spaces to a tag, or... anything else that makes the code ugly
2. Click on 'prettify'
3. Nothing happens

**Expected behaviour**
Additional spaces to be removed.

**Device (please complete the following information):**
 - macOS 10.15.7
 - standalone app

[2021-04-30 22:50] pixelspencil commented on #36
Nice one - thank you @artcommacode

[2021-05-01 16:36] gabriellemelton opened #39 "Using the built in selector removes text on line below"
**Describe the bug**
Using the built in selector to add images already uploaded to the editor causes text on the following line to either disappear or lose characters.

**To Reproduce**
Steps to reproduce the behaviour:
1. In an .html file, add an image tag.
2. Type source, then use the circle with the ellipses in it to load image options uploaded to the site.
3. After selecting an image file to a

[2021-05-03 12:52] artcommacode commented on #39
Hey @gabriellemelton this is _partly_ by design, if you don't close the tag yourself in some way (either with the quote marks or the closing bracket) then the Editor won't know where it's supposed to go! That said, we probably shouldn't show you the button to do this unless we know the tag has been closed. Thanks for the submission!

[2021-11-24 17:05] candideu opened #40 "Changes not saved after being idle"
**Describe the bug**
If the Editor has been open in the background for a while without use (say a few days) and you edit code in it, it will appear to work. However, when you click back on the dashboard, you'll be prompted to sign in, and the new changes weren't saved.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Editor
2. Have it open in the background for a while
3. Make changes

[2021-11-24 17:07] candideu opened #41 "UI issue"
# Desktop version (Windows 10)
![image](https://user-images.githubusercontent.com/55474996/143283415-986cbc5e-1875-4e78-afd0-536ff89070d6.png)

# Online version (Firefox)
![image](https://user-images.githubusercontent.com/55474996/143283504-39ca5ec9-6540-4233-872b-7b91d3cbc3bc.png)

[2021-11-24 17:10] candideu opened #42 "Page doesn't remain at the same location when clicking away"
**Describe the bug and expected outcome**
Let's say I'm editing an HTML file (scrolled to the bottom of the page), and I click on its stylesheet to edit the style. When I click back on the HTML file, the file will be scrolled to the top instead of bringing me back to the place where I was. This is especially cumbersome when dealing with very long HTML files, because I either have to scroll endless